body {
    background-image: url('../public/Background/background.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
}

.blur {
    width: 350px;
    height: 400px;
    background-color: rgba(255, 255, 255, 0.1);
    backdrop-filter: blur(10px);
    border: 1px solid rgba(255, 255, 255, 0.3); 
    border-radius: 10px;
    text-align: center;
    padding: 20px;
    margin: 50px auto;
    margin-top: 200px;
    color: white; 
    font-family: Arial, sans-serif; 
}

.blur-big {
    width: 350px;
    height: 450px;
    background-color: rgba(255, 255, 255, 0.1);
    backdrop-filter: blur(10px);
    border: 1px solid rgba(255, 255, 255, 0.3); 
    border-radius: 10px;
    text-align: center;
    padding: 20px;
    margin: 50px auto;
    margin-top: 200px;
    color: white; 
    font-family: Arial, sans-serif; 
}

.blur-large {
    width: 600px;
    height: 500px;
    background-color: rgba(255, 255, 255, 0.1);
    backdrop-filter: blur(10px);
    border: 1px solid rgba(255, 255, 255, 0.3); 
    border-radius: 10px;
    text-align: center;
    padding: 20px;
    margin: 50px auto;
    margin-top: 200px;
    color: white; 
    font-family: Arial, sans-serif; 
}

.blur-chat {
    width: 400px;
    height: 600px;
    background-color: rgba(255, 255, 255, 0.1);
    backdrop-filter: blur(10px);
    border: 1px solid rgba(255, 255, 255, 0.3); 
    border-radius: 10px;
    text-align: center;
    padding: 20px;
    margin: 50px auto;
    margin-top: 200px;
    color: white; 
    font-family: Arial, sans-serif; 
}

.transparent-input {
    background-color: transparent !important;
    border: 1px solid rgba(255, 255, 255, 0.3) !important; 
    border-radius: 30px !important;
    width: 100% !important;
    color: white !important;
}

.transparent-input::placeholder {
    color: white !important;
}

.btn-standart{
    border-radius: 30px !important;
    border: none !important;
    width: 100% !important;
    font-size: 24px !important;
    padding: 2px !important;
}

.logout-btn {
    border-radius: 10px !important;
    font-size: auto !important;
    padding: 2px !important;
    height: 50px;
    width: 50px;
    color: white;
    background-color: transparent !important;
    border: 1px solid rgba(255, 255, 255, 0.3) !important; 
    color: white !important;
}

.error{
    color: white;
    font-size: 20px;
    padding-block: 5px;
    font-weight: 700;
    background-color: rgba(255, 0, 0, 0.6);
    border-radius: 10px;
}

.error-placeholder{
    color: transparent;
    font-size: 20px;
    padding-block: 5px;
    font-weight: 700;
    border-radius: 10px;
}

.img{
    border-radius: 50% !important;
    border: 1px solid rgba(255, 255, 255, 0.3) !important; 
}

.custom-hr{
    border: none;
    border-radius: 30px;
    background-color: white;
    height: 2px;
}

.user-link{
    text-decoration: none;
    color: white;
}

.chat-area{
    height: 420px;
    overflow: auto;
    border: 1px solid rgba(255, 255, 255, 0.3); 
    border-radius: 10px;
    padding: 10px;
}

.chat-area::-webkit-scrollbar{
    display: none;
}

.chat-btn{
    border-radius: 0 10px 10px 0 !important;
    border: none !important;
    width: 20% !important;
    font-size: 24px !important;
    padding: 2px !important;
    background-color: transparent !important;
    border: 1px solid rgba(255, 255, 255, 0.3) !important; 
    color: white !important;
}

.chat-input{
    border-radius: 10px 0 0 10px !important;
    width: 80% !important;
    background-color: transparent !important;
    border: 1px solid rgba(255, 255, 255, 0.3) !important; 
    color: white !important;
}

.chat-input::placeholder {
    color: white !important;
}

.icon{
    position: absolute;
    color: white;
    right: 30px;
}