body {
    background-image: url('../public/Background/background.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
}

/* Blur-Container */

.blur {
    width: 350px;
    height: 400px;
    background-color: rgba(255, 255, 255, 0.1);
    backdrop-filter: blur(10px);
    border: 1px solid rgba(255, 255, 255, 0.3); 
    border-radius: 10px;
    text-align: center;
    padding: 20px;
    margin: 50px auto;
    margin-top: 100px;
    color: white; 
    font-family: Arial, sans-serif; 
}

.blur-big {
    width: 350px;
    height: 450px;
    background-color: rgba(255, 255, 255, 0.1);
    backdrop-filter: blur(10px);
    border: 1px solid rgba(255, 255, 255, 0.3); 
    border-radius: 10px;
    text-align: center;
    padding: 20px;
    margin: 50px auto;
    margin-top: 100px;
    color: white; 
    font-family: Arial, sans-serif; 
}

.blur-large {
    width: 400px;
    height: 500px;
    background-color: rgba(255, 255, 255, 0.1);
    backdrop-filter: blur(10px);
    border: 1px solid rgba(255, 255, 255, 0.3); 
    border-radius: 10px;
    text-align: center;
    padding: 20px;
    margin: 50px auto;
    margin-top: 100px;
    color: white; 
    font-family: Arial, sans-serif; 
}

.blur-chat {
    width: 400px;
    height: 600px;
    background-color: rgba(255, 255, 255, 0.1);
    backdrop-filter: blur(10px);
    border: 1px solid rgba(255, 255, 255, 0.3); 
    border-radius: 10px;
    text-align: center;
    padding: 20px;
    margin: 50px auto;
    margin-top: 100px;
    color: white; 
    font-family: Arial, sans-serif; 
}

.overview-small{
    display: none;
}

/* Buttons */

.btn-standart{
    border-radius: 30px !important;
    border: none !important;
    width: 100% !important;
    font-size: 24px !important;
    padding: 2px !important;
}

.logout-btn {
    border-radius: 10px !important;
    font-size: auto !important;
    padding: 2px !important;
    height: 35px;
    width: 35px;
    color: white;
    background-color: transparent !important;
    border: 1px solid rgba(255, 255, 255, 0.3) !important; 
    color: white !important;
}

.chat-btn{
    border-radius: 0 10px 10px 0 !important;
    border: none !important;
    width: 20% !important;
    font-size: 24px !important;
    padding: 2px !important;
    background-color: transparent !important;
    border: 1px solid rgba(255, 255, 255, 0.3) !important; 
    color: white !important;
}

.toggle-btn {
    border-radius: 10px !important;
    font-size: auto !important;
    padding: 2px !important;
    height: 35px;
    width: 70px;
    color: white;
    background-color: transparent !important;
    border: 1px solid rgba(255, 255, 255, 0.3) !important; 
    color: white !important;
}

.img-btn{
    background-size: 100% 100%;
    background-repeat: no-repeat;
    background-position: center; 
    border: none; 
    padding: 0; 
}

.icon-btn{
    border-radius: 10px !important;
    font-size: auto !important;
    padding: 2px !important;
    height: 35px;
    width: 35px;
    color: white;
    background-color: transparent !important;
    border: 1px solid rgba(255, 255, 255, 0.3) !important; 
    color: white !important;
    margin-inline: -7px;
}

/* Input Felder */

.transparent-input {
    background-color: transparent !important;
    border: 1px solid rgba(255, 255, 255, 0.3) !important; 
    border-radius: 30px !important;
    width: 100% !important;
    color: white !important;
    margin-block: 10px;
}

.transparent-input::placeholder {
    color: white !important;
}

.input-container {
    position: relative;
}

.chat-input{
    border-radius: 10px 0 0 10px !important;
    width: 80% !important;
    background-color: transparent !important;
    border: 1px solid rgba(255, 255, 255, 0.3) !important; 
    color: white !important;
}

.chat-input::placeholder {
    color: white !important;
}

/* Error */

.error{
    color: white;
    font-size: 20px;
    padding-block: 5px;
    font-weight: 700;
    background-color: rgba(255, 0, 0, 0.6);
    border-radius: 10px;
}

.error-placeholder{
    color: transparent;
    font-size: 20px;
    padding-block: 5px;
    font-weight: 700;
    border-radius: 10px;
}

/* Icons und Bilder */

.img{
    border-radius: 50% !important;
    border: 1px solid rgba(255, 255, 255, 0.3) !important; 
}

.icon {
    position: absolute;
    right: 10px;
    top: 50%;
    transform: translateY(-50%);
    color: white;
}

/*

.icon{
    position: absolute;
    color: white;
    right: 20px;
}

*/

.img-small{
    border-radius: 50% !important;
    border: 1px solid rgba(255, 255, 255, 0.3) !important; 
    margin: 0;
    position: relative;
    top: 35px;
    left: 10px;
}

/* Nachrichten */

.outgoing-message{
    background-color: rgba(255, 255, 255, 0.1);
    backdrop-filter: blur(10px);
    border: 1px solid rgba(255, 255, 255, 0.3); 
    border-radius: 10px 10px 0 10px !important;
    text-align: center;
    padding: 10px;
    color: white; 
    font-family: Arial, sans-serif; 
    margin-block: 10px !important;
}

.incoming-message{
    background-color: rgba(255, 255, 255, 0.1);
    backdrop-filter: blur(10px);
    border: 1px solid rgba(255, 255, 255, 0.3); 
    border-radius: 10px 10px 10px 0 !important;
    text-align: center;
    padding: 10px;
    color: white; 
    font-family: Arial, sans-serif; 
    margin-block: 10px !important;
    width: 200px;
}

.custom-incoming-box{
    position: relative;
    left: -25px;
}

.last-message{
    margin-left: 65px;
}

/* Chat und User */

.chat-area{
    height: 420px;
    overflow-y: auto;
    border: 1px solid rgba(255, 255, 255, 0.3); 
    border-radius: 10px;
    padding: 10px;
}

.chat-area::-webkit-scrollbar{
    display: none;
}

.user-area{
    height: 390px;
    overflow-y: auto;
    border: 1px solid rgba(255, 255, 255, 0.3); 
    border-radius: 10px;
}

.user-area::-webkit-scrollbar{
    display: none;
}

.groups-area{
    height: 330px;
    overflow-y: auto;
    border: 1px solid rgba(255, 255, 255, 0.3); 
    border-radius: 10px;
}

.groups-area::-webkit-scrollbar{
    display: none;
}

.click-user-area{
    height: 200px;
    overflow-y: auto;
    border: 1px solid rgba(255, 255, 255, 0.3); 
    border-radius: 10px;
}

.click-user-area::-webkit-scrollbar{
    display: none;
}

/* Randmstuff */

.custom-hr{
    border: none;
    border-radius: 30px;
    background-color: white;
    height: 2px;
}

.user-link{
    text-decoration: none;
    color: white;
}

.time{
    font-size: 12px;
    font-weight: 700;
}

/* Responsive */

@media screen and (max-width: 400px) {
    .blur-big {
        width: 250px;
        height: 350px;
    }

    .blur {
        width: 250px;
        height: 320px;
    }

    .blur-large {
        width: 250px;
        height: 400px;
    }

    .blur-chat {
        width: 250px;
        height: 400px;
    }    

    .overview{
        display: none;
    }

    .overview-small{
        display: block;
    }

    .toggle-btn {
        width: 78px;
    }

    .title{
        font-size: 24px;
    }

    .transparent-input {
        height: 30px;
        margin-block: 4px;
    }

    .btn-standart{
        height: 30px;
        font-size: 18px !important;
    }

    .small-link{
        font-size: 14px;
    }

    .error{
        font-size: 14px;
        padding-block: 4px;
        font-weight: 500;
    }
    
    .error-placeholder{
        font-size: 14px;
        padding-block: 4px;
        font-weight: 500;
    }

    .chat-area{
        height: 250px;
        overflow-y: auto;
        padding: 5px;
    }

    .groups-area{
        height: 250px;
    }

    .click-user-area{
        height: 110px;
    }

    .time{
        font-size: 10px;
        font-weight: 500;
    }

    .chat-input{
        height: 30px;
    }

    .chat-btn{
        height: 30px;
        font-size: 10px !important;
    }

    .outgoing-message{
        padding: 5px;
    }
    
    .incoming-message{
        padding: 5px;
        width: 120px;
    }
    
    .email{
        font-size: 12px;
    }

    .user-area{
        max-height: 270px;
        overflow-y: auto;
    }
    
    .icon-btn{
        height: 30px;
        width: 30px;
    }
}
